*{
	margin: 0;
	padding: 0;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*.....................*/
   /*Header csss*/
/*.......................*/


header{
	background: black;
}
.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b5a9a9 !important;
}
.nav-item{
	margin-left: 40px;
}

/*************************/
   /*banner section css*/
/**************************/

.banner{
	width: 100%;
	height: 90vh;
	background: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.banner-content{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;

}
.content h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	color:#d3cccc;
	font-weight: 300;
    width: 70%;
    margin-top: 24px

}
.content p{
    font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color:#9b9595;
	width: 70%;
	margin-bottom: 35px;
	
}
.content button{
    background: transparent;
    padding: 11px 30px;
    border: 2px solid white;
}
.content button a{
	text-decoration: none;
	color: white;
    font-size: 16px

}

.line{
	height: 2px;
    width: 70px;
    background: white;
    margin-top: 30px;
    margin-bottom: 40px
}


.banner-form{
	display: table-cell;
    height: 90vh;
    vertical-align: middle
}
.card{
	width: 350px;
}
.card-header{
	background: #f5f5f5;
}
.card-header h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 12px 0px;
}
.card-header span{
	color: #ff8b38;
}
.card-body{
	padding: 16px 32px;
}
.card-body .form-control{
	border: none;
	border-radius: 0;
	border-bottom: .5px solid #c1bebe;
	margin-bottom: 30px;
}
.card-footer{
	background:#ff8b38 ;
	padding: 17px 0px;
}
.card-footer .btn{
	border: none;
	border-radius: unset;
	background:#ff8b38 ;
	width: 100%;
}

/******************************/
/******************************/
       /* social-media css*/

.social-media{
	border-bottom: 2px solid #aca7a7;
	
}
.social-media .content h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;


}
.social-media .content p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}
.social-media .icn{
	margin-top: 45px;

}
.social-media .icn ul li{
	list-style: none;
    display: inline-block;
    justify-content: space-between;
    margin-right: 65px;
}
.social-media .icn ul li i.fab{
	font-size: 48px;
	color: #a9a4a4;

}
.social-media .icn ul li i.fas{
	font-size: 48px;
	color: #a9a4a4;

}


/*Tab part csss*/



.tab-section{
	background-color: #f5f5f5;
}
.tab-part{
	 height: 60vh;
	 display: table-cell;
	 vertical-align: middle;
}
.tab-part button{
		padding: 35px 35px;
		display: block;
		border: none;
		border-bottom-color: currentcolor;
		border-bottom-style: none;
		border-bottom-width: medium;
		border-bottom: 1px solid #fbf8f8;
		background-color: #333;
		color: white
}
.tab-part .current{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color:#ff8b38 ;
}
.tab-part .t3{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 0px;
}
.tab-part button:hover{
	background:#ff8b38;
}


.one{
	 height: 60vh;
	 display: table-cell;
	 vertical-align: middle;

}
.one h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 60px;

}
.one h6{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a6a3a3;
    width: 92%;


}
.one p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    margin-bottom: 35px;
    color: #a6a3a3;
    width: 92%;


}
.one button{
	 padding: 11px 30px;
     border: none;
     background: #ff8b38;
	 border-radius: 2px;
	 color: white;

}

.picture{
     height: 60vh;
	 display: table-cell;
	 vertical-align: middle;
}
.picture img{
	margin-left: 30px;
}


/********** Sub list section csss*****/

.sub-list-section{
	 padding-top: 90px;
	 padding-bottom: 60px;
}

.sub-list-content .line{
	 height: 2px;
    width: 70px;
    background:#ff8b38 ;
    margin-top: 23px;
    margin-bottom: 25px;

}
.sub-list-content h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.sub-list-content p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #9f9d9d;
	
}
.title-section{
	margin-top: 65px;
}
.title-section .down{
	margin-top: 40px;
}
.title-section h5{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
	
}
.title-section p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #9f9d9d;
    margin-left: 25px;

	
}
.sub-list-title-down{
	margin-top: 40px;
}
.title-section i.far{
	
    font-size: 35px ;
    color: #ff8b38 ;

}


/*****************************/
   /*Standard section csss*/
/*****************************/


.standard-picture-section{
	background-color: #f5f5f5;

}
.standard-content{
	 height: 60vh;
	 display: table-cell;
	 vertical-align: middle;

}
.standard-content h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    

}
.standard-line{
	height: 2px;
    width: 70px;
    background:#ff8b38 ;
    margin-top: 31px;
    margin-bottom: 31px;
   

}
.standard-content p{
	  font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #9f9d9d;
      width: 85%;


}
.standard-img{
	 height: 60vh;
	 display: table-cell;
	 vertical-align: middle;

}
.standard-img img{
	 margin-left: 40px;
	 margin-top: 55px;
}

/************************/
     /*awesome csss*/


.awesome-content{
	text-align: center;
}
.awesome-icon-part{
	text-align: center;
}
.awesome-line{
	height: 2px;
    width: 70px;
    background:#ff8b38 ;
    margin-left: 47%;
    margin-top: 26px;
    margin-bottom: 31px;


}
.awesome-content h1{
	 	font-family: 'Raleway', sans-serif;
	 	font-size: 36px;
	 	margin-top: 100px;
	

	
}
.awesome-content p{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
       color: #9f9d9d;
	
}
.awesome-icon-part h2{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 20px;
	   font-weight: bold;
	   margin-bottom: 30px;


}
.awesome-icon-part p{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9f9d9d;
	   margin-bottom: 100px;

}
.awesome-icon i.far{
	    font-size: 70px;

		color: #ff8b38;
		margin-bottom: 31px;
		margin-top: 75px;

} 
/*************************/
  /*pricing section csss*/
  /***********************/


  .pricing{
  	    background:#f5f5f5 ;
  	    padding-bottom: 90px;
  }

  .pricing-content{
  	     text-align: center;
  }
  .pricing-content h1{
  	    font-family: 'Raleway', sans-serif;
	 	font-size: 36px;
	 	margin-top: 100px;
  	   
  }
  .pricing-content p{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9f9d9d;
	   margin-bottom: 100px;
  	   
  }
  .Pricing-line{
  	        height: 2px;
		    width: 70px;
		    background:#ff8b38 ;
		    margin-left: 47%;
		    margin-top: 26px;
            margin-bottom: 31px;

  }
  /*******************/
  /*PRICING tab css*/

  .pricing-tab{
  	       text-align: center;
  } 
  .basic{
  	border: 1px solid #333333;
  	background-color:#333333;
    padding: 10px;

    border-bottom: 1px solid white;

  } 
  .basic h4{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 20px;
	   color: white;
  	
  }
  .doller0{
  	border: 1px solid #333333;
    background: #333333;
    
     border-bottom: 6px solid #ff8b38;

  } 
  .dollerp{
  	    border: 1px solid #333333;
        background: #333333;

  }
  .doller0 h6{
  	   color: white;
  	   font-family: 'Raleway', sans-serif;
  	   font-weight: bold;
  	   font-size: 28px;

  }
  .doller0 span{
  	  color: white;
  	  font-size: 103px;
  	   font-family: 'Raleway', sans-serif;
  	   font-weight: bold;

  }
  .doller0 p{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #999999;

  }
  .dollerp h6{
  	   color: white;
  	   font-family: 'Raleway', sans-serif;
  	   font-weight: bold;
  	   font-size: 28px;

  }
  .dollerp span{
  	   color: white;
  	   font-size: 103px;
  	   font-family: 'Raleway', sans-serif;
  	   font-weight: bold;

  }
  .dollerp p{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #999999;

  }
  .most-popular h5{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   font-weight: bold;
	   color: white;
       background-color: #ff8b38;
       padding: 12px;

  }
  .pricing-category{
  	margin-top: 15px;
  	background-color: #fff;

  }
  .pricing-category .ppp{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9d9ea1;
	   border-bottom: .5px solid #e5dede;
       padding: 10px;
  	
  }
  .pricing-category .ppp1{
  	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9d9ea1;
	   border-bottom:0px;
       padding: 10px;
  	
  }
  .price{
  	align-items: flex-end;
  }


  /************************/
    /*customer review csss*/


.customer-review{
	padding-bottom: 85px;
}

.customer-content{
       text-align: center;
}
.customer-content h1{
	    font-family: 'Raleway', sans-serif;
	 	font-size: 36px;
	 	margin-top: 100px;

	
}
.customer-line{
	        height: 2px;
		    width: 70px;
		    background:#ff8b38 ;
		    margin-left: 47%;
		    margin-top: 24px;
            margin-bottom: 36px;

}

.customer-content p{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9f9d9d;
	   margin-bottom: 60px;	
}
.customer-comment p{
	  font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #9f9d9d;
       
      	

}
.customer-comment{
	padding: 25px 15px;
    position: relative;
    background-color: #f5f5f5;
    width: 88%;
    z-index: 3333;
    margin-bottom: 14px;

}
.customer-message-icn{
	   height: 50px;
	   width: 50px;
	   background-color: #f5f5f5;
	   transform: rotate(45deg);
	   position: absolute;
	   bottom: -7px;
       left: 9px;
       z-index: -1;
}
.customer-name h2{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 20px;
	   font-weight: bold;

}
.customer-name p{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9f9d9d;

}
.customer-name{
	margin-top: 28px;
	margin-left: 13px;
}
.customer-photo{
	margin-top: 15px;
}



/************************/
  /*stylish part csss*/


.stylish-part{
	width: 100%;
	height: 50vh;
	background: url(../img/last.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.stylish-content{
	 text-align: center;
	 margin-top: 100px;
	 
}
.stylish-content h1{
	    font-family: 'Raleway', sans-serif;
	 	font-size: 36px;
	 	font-weight: 600;
	 	color: white;

} 
.stylish-content p{
	   font-family: 'Raleway', sans-serif;
	   font-size: 16px;
	   color: #9f9d9d;
	   margin-bottom: 35px;
	
}
.stylish-line{
	height: 2px;
    width: 70px;
    background: white;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 47%;

} 
.stylish-button {
	  background: transparent;
      padding: 11px 30px;
      border: 2px solid white;
      color: white !important;
      font-weight: bold;
     
}

/**************************/
/*contact us csssss*/

.contact-us-content{
	text-align: center;

}
.contact-us-content h1{
	    font-family: 'Raleway', sans-serif;
	 	font-size: 36px;
	 	margin-top: 100px;
	
}
.contact-us-content p{
	   font-family: 'Open Sans', sans-serif;
	   font-size: 14px;
	   color: #9f9d9d;
	   margin-bottom: 80px;
	
}
.contact-us-line{
	        height: 2px;
		    width: 70px;
		    background:#ff8b38 ;
		    margin-left: 47%;
		    margin-top: 25px;
		    margin-bottom: 30px;

}

/********************/
  /*contanct form csss*/

 .contact-us-section .form-control{
 	      border: none;
 	      border-bottom: 1px solid #c2c0c0;
 	      border-radius: 0px;
 	      outline: none;
 	      box-shadow: none;
 	      padding: 8px;
 } 
 .mb-3{
 	margin-right: 18px;
 }
 .mesage{
 	margin-left: 15px;
 	

 }
 .meesage{
 	padding-bottom: 120px !important;
 }
 .contact-button{
 	 text-align: center;
 	 margin-top: 40px;
 	 margin-bottom: 75px;
 }
 .contact-button button{
 	 padding: 11px 30px;
     border: none;
     background: #ff8b38;
	 border-radius: 2px;
	 color: white;

 }

 /*************************/
 /*footer-icn-section csss*/

.footer-icn-section{
	background-color: black;
	padding-top: 30px;
	

}

.footer-icon{
	text-align: center;
}
 .footer-icon ul li{
	list-style: none;
    display: inline-block;
    margin-right: 42px;
    margin-top: 5px;
    
}

.footer-icon ul li i.fab{
	font-size: 20px;
	color: #c6c0c0;
	

}
.footer-icon ul li i.fas{
	font-size: 20px;
	color: #c6c0c0;


}

.copyright-part{
	text-align: center;
}
.copyright-part ul li{
	list-style: none;
    display: inline-block;


}
.copyright-part ul li i.far{

	color: #949090;
	font-size: 11px;
	
}
.copyright-part ul li p{
	color: #949090;
	  font-family: 'Open Sans', sans-serif;
	   font-size: 12px;
	
}
.sticky{
	position: fixed;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}

